.SliderContainer {
  width: 100%;
}

.SliderContent {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.SliderItem {
  display: inline-flex;
  width: 100%;
  transition: margin-left ease-in-out 0.3s;
  justify-content: space-around;
  position: relative;
}

.subItem {
  align-items: center;
}

.item {
  width: 200px;
  height: 90%;
  margin: 20px;
  white-space: normal;
}

.slider-control {
  text-align: right;
}

.column {
  flex-direction: column;
}
